*{
     margin: 0;
     padding: 0;
}
.header{
    width: 100%;
    height: 69px;
}
/*体部*/
/*轮播图左右箭头*/
.carousel{
    margin-top: 45px;
}
.carousel-control-prev,
.carousel-control-next{
    width:3% !important;
    height:6% !important;
    border-radius:50% !important;
    top: 47% !important;
}
.carousel-control-prev:hover,
.carousel-control-next:hover{
    background-color:#00a1ed;
}
.carousel-control-prev{
    left: 0.2rem;
}
.carousel-control-next{
    right: 0.2rem;
}
/*轮播指示器*/
.carousel-indicators{
    height: 10px;

}
.carousel-indicators li{
    width:10px !important;
    height:10px !important;
    border:1px solid #666 !important;
    border-radius: 50% !important;
}
.carousel-indicators .active{
    background-color: #00a1ed !important;
}
/*简介部分*/
div.yljj>div{
    position: relative;
    box-sizing:border-box;
    overflow: hidden;
}
div.yljj>div a{
    position:absolute;
    top:75%;
    left:50%;
}
div.yljj>div>a>img{
    width:250px;
    margin-left: -125px;
}
div.yljj>div:hover img{
    animation:bs 2s 1;
}
/*图片悬停放大后缩小动画*/
@keyframes bs {
    0%{transform:scale(1.0);}
    50%{transform:scale(1.05);}
    100%{transform:scale(1.0);}
}
/*伊利新闻*/
div.news{
    position:relative;
}
div.news>#sm_b{
    width:25%;
    position:absolute;
    top:45%;
    left:55%;
}
div.news:hover #sm_b{
    animation: zy 2s 1;
}
div.news>#sm_b .wz1{
    color:#00a1ed;
    font-family: "Microsoft YaHei";
}
div.news>#sm_b a:last-child:hover{
    animation: zy 1s 1;
}
/*鼠标悬停图片变亮*/
div.news>#sm_b a>img:hover{
    opacity: 0.7;
    filter: alpha(opacity=70);
}
@keyframes zy {
    0%{transform: translateX(-30px);}
    100%{transform:translateX(0px);}
}
/*参观*/
div.vis{
    position: relative;
}
div.vis>#sm_x{
    position: absolute;
    top:15%;
    left:20%;
}

div.vis>#sm_x>img.ewm{
    width:30%;
    height:30%;
}
div.vis>#sm_x>img.ewm:hover{
    animation:bs 2s 1;
}
div.vis:hover #sm_x{
    animation: sx 2s 1;
}
@keyframes sx {
    0%{transform: translateY(-30px);}
    100%{transform:translateY(0px);}
}
/*精彩合作*/
div.coop{
    position:relative;
}
div.coop>div{
    box-sizing: border-box;
    overflow: hidden;
}
div.coop>div:nth-child(2) h1{
    position:absolute;
    top:5%;
    left: 50%;
    z-index:1000;
    width: 300px;
    margin-left: -150px;
    text-align: center;
}
div.coop>div>a>img.pic1{
    position:absolute;
    top:15%;
    left:50%;
    width: 240px;
    margin-left: -120px;
}
div.coop>div:hover img{
    animation:bs 2s 1;
}






@media screen and (min-width:992px){

}

@media screen and (min-width:768px) and (max-width: 991px){
    div.news>#sm_b h1{
        font-size: 30px;
    }
    div.news>#sm_b>div>img{
        width:30%;
        height: 30%;
    }
    div.news>#sm_b h4{
        font-size: 12px;
    }
    div.vis>#sm_x h1{
        font-size: 30px;
    }
    div.vis>#sm_x p{
        font-size: 12px;
    }
    div.vis>#sm_x>a>img{
        width: 50%;
        height: 50%;
    }
    div.vis>#sm_x:last-child{
        width:30%;
    }
}
@media screen and (max-width:767px){
    div.news>#sm_b{
        display: none;
    }
    div.vis>#sm_x{
        display: none;
    }
}